.blog-item{
    border: 2px solid #eee;
}

.blog-item .blog-image-wrapper{
    display: flex;
}

.blog-item .blog-image{
    width: 300px;
    height: 250px;
    object-fit: cover;
}

.blog-item .blog-info{
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 6px;
}

