.blog-list  .header-div {
    display:flex;
    flex-direction:column;
}
.blog-list  .icon-div {
    display:flex;
    flex-direction:row;
    
}

.blog-info {
    flex-grow: 1;
}
.blogs-wrapper{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr))
}
.new-blog {
    display: flex;
    flex-direction: column;
}
 .dummy-div {
    flex-grow:1 ;
 }

.header-div h2 {
    margin-left: 4px;
}