.blog-list  .header-div {
    display:flex;
    flex-direction:column;
}
.blog-list  .icon-div {
    display:flex;
    flex-direction:row;
    
}

.blog-info {
    flex-grow: 1;
}
.blog-filter .blog-input {
    font-size: 1rem;
    border: 2px solid #4d4c4c;
    margin: 2px;
    margin-bottom: 1rem;
    border-radius: 5px;
    width: 175px;
    padding: 5px;
}
.blog-filter .blog-select {
    font-size: 1rem;
    border: 2px solid #4d4c4c;
    margin: 2px;
    margin-bottom: 1rem;
    border-radius: 5px;
    width: 175px;
    padding: 5px;
}
.blogs-wrapper{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr))
}
.new-blog {
    display: flex;
    flex-direction: column;
}
 .dummy-div {
    flex-grow:1 ;
 }

.header-div h2 {
    margin-left: 4px;
}